/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22 Apr 2020, 12:42:32
    Author     : anton
*/

.button{
    -fx-background-color: #435a9a;
    -fx-text-fill: white;
}

.button:hover{
    -fx-background-color: #435a9a;
    -fx-text-fill: white;
    -fx-scale-y: 1.1;
}

.MainViewButton
{
    
}

.MainViewComboBox
{
    
}





/*.label{

  -fx-border-radius: 20 20 0 0;
  -fx-background-radius: 20 10 0 0;

   top-left, top-right, bottom-right, and bottom-left corners, in that order. 
}*/


#loginLabelbackground {
    -fx-background-color: #435a9a;
}

#loginLabel{
    -fx-background-color: #435a9a;
    -fx-text-fill: white;


}   


.chart-bar {
    -fx-bar-fill: #435a9a;
    
}

.AnchorPane
{
    -fx-border-color:  #435a9a;
    
}

.Label
{
    -fx-text-fill: white;
    -fx-background-color: #435a9a;
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 5 5 5 5;
}

.Column
{
   
    -fx-background-color: #435a9a, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
    
}

.ComboBox
{
   
    -fx-text-fill: white;
    -fx-background-color: #435a9a;
}


 .table-view .column-header .label {
    -fx-background-color: #435a9a;
     -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-row-cell:selected {
   -fx-background-color: steelblue; 
   -fx-text-background-color: red;
}
.table-row-cell:selected .text {
       -fx-fill: red ;

}
